@using System.Security.Claims
@model IEnumerable<State>
<style>
table, td {
 padding: 15px;
  text-align: left;
  border: 1px solid black;
}
tr {
  background-color: #4CAF50;
  color: white;
}
</style>
<h3>Countries</h3>
<table class="table-condensed">
    <tr>
        <td>id</td>
        <td>name</td>
        <td>area</td>
        <td>population</td>
         <td>language</td>
        <td></td>
        <td></td>
    </tr>
    @foreach (var s in Model)
    {
        <tr>
            <td>@s.id</td>
            <td>@s.name</td>
            <td>@s.area</td>
            <td>@s.population</td>
            <td>@s.language</td>
              @if (User.FindFirst(x => x.Type == ClaimsIdentity.DefaultRoleClaimType).Value == "admin")
              {
                  <td><a href="~/state/editState/@s.id">edit</a></td>
                  <td><a href="~/state/deleteState/@s.id">delete</a></td>
              }
        </tr>
    }
    <p><a href="~/state/create/">create</a></p>
</table>